<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/all.css">
    <title>todolist</title>
</head>

<body>
    <section class="wrap" id="app">
        <header class="header">
            <h1>todos</h1>
            <div class="todo-input-box">
                <input type='text' class="todo" id="todo" placeholder="What needs to be done?" autocomplete="off" autofocus v-model="newtodo"
                    @keyup.enter="addtodo">
            </div>
        </header>
        <section>
            <div class="todo-content">
                <input type="checkbox" class="toggle-all" id="ta">
                <ul class="list">
                    <li v-for="item in todos" >
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="item.completed" id="">
                            <label :for="item.id">
                                {{item.title}}
                            </label>
                            <a class="removebutton" @click.prevent="removetodo(key)" href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <footer class="footer">

        </footer>
    </section>
    <footer></footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
    <script src="js/all.js"></script>
</body>

</html>